$main-001: #212121;
$main-002: #004a89;
$main-003: #0a1a21;
$main-004: #b6c484;

$wb-000: #fff;
$wb-001: #f8f8f8;
$wb-002: #eee;
$wb-003: #ddd;
$wb-004: #c9c9c9;
$wb-005: #b4b4b4;
$wb-006: #999;
$wb-007: #666;
$wb-008: #333;
$wb-009: #000;
